html {
  box-sizing: border-box;
}
.rotateimg90 {
  -webkit-transform:rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
}
.contact a{
  text-decoration: none;
  color:black;
  font-size: 15px;
  margin: 10px;
}

.contact:hover{
  color:white;
}

.git a{
  text-decoration: none;
  color:black;
  font-size: 15px;
  margin: 4px;
}
.git:hover{
  color:white;
}

*, *:before, *:after {
  box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6,
p, ul, ol, li {
  margin: 0;
  padding: 0;
  margin-bottom: 1.5rem;
  text-align: center;
  box-sizing: border-box;
}

li {
  margin: 0;
  margin-left: 1.5rem;
}

html {
  padding: 0;
  padding-top: 1.5rem;
  font-size: 1rem;
  line-height: 1.5rem;
  background-color: rgba(70, 121, 160, 0.541);
  overflow-y: scroll;
  text-align: center;
}

header {
  padding: 3rem 0;
}

section {
  padding: 3rem 4rem;

  max-width: 100%;
  background-color: rgba(63, 88, 143, 0.521);
}

section:nth-child(even) {
  background-color: rgba(64, 64, 82, 0.315);
}

body {
  margin: 0;
  padding: 0;
}

img {
 max-width: 100%;
 align-content: center;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

h1 {
  font-size: 2.25rem;
  line-height: 3rem;
}

h2 {
  font-size: 1.75rem;
  line-height: 3rem;
}

h3 {
  font-size: 1.5rem;
  line-height: 1.5rem;
  align-content: center;
}

h4 {
  font-size: 1.25rem;
  line-height: 1.5rem;
}

.profile-pic {
  border-radius: 50%;
}
  nav {
    margin-bottom: 50px;
  }

footer {
  padding: 3rem 0;
  text-align: center;
  background-color:rgba(96, 172, 243, 0.384)
}
